version: "3.8"

services:
  mysqldb:
    image: mysql:8
    container_name: mysqldb
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: exam
      MYSQL_DATABASE: coursedb
    ports:
      - "3307:3306"
    networks:
      - fullstack-net

  backend:
    build: ./backend
    container_name: backend
    restart: always
    depends_on:
      - mysqldb
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysqldb:3306/coursedb

      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: exam
    ports:
      - "30032:2000"        # backend visible on host at 30032
    networks:
      - fullstack-net

  frontend:
    build: ./frontend
    container_name: frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "30031:80"          # frontend visible on host at 30031
    networks:
      - fullstack-net
